.AssigneesList {
    display: flex;
    flex-direction: column;
}

.AssigneeText {
    font-size: var(--text-body-size-small);
    font-weight: var(--base-text-weight-semibold);
}

.CopilotIconContainer {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bgColor-muted);
    border: 1px solid var(--borderColor-muted);
}

.CopilotIconOverride {
    width: 14px !important;
    height: 14px !important;
}