.AlertStateLabel {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 6px 12px;
    border-radius: 24px;
    font-size: 14px;
    font-weight: 600;
}

.Open {
    background-color: var(--bgColor-open-emphasis);
    color: var(--fgColor-onEmphasis);
}

.Dismissed {
    background-color: var(--bgColor-danger-muted);
    color: var(--fgColor-danger);
}

.Fixed {
    background-color: var(--bgColor-done-muted);
    color: var(--fgColor-done);
}