.DevelopmentOverlay {
    display: flex;
    flex-direction: column;
    max-height: 260px;
}

.SearchContainer {
    padding: var(--base-size-8);
    padding-bottom: 0;
    flex-shrink: 0;
}

.ScrollableContent {
    overflow-y: auto;
    flex: 1;
    min-height: 0;
}