.DialogContent {
    display: flex;
    flex-direction: column;
    gap: var(--base-size-8);

    .CommentBox {
        display: flex;
        flex-direction: column;
        gap: var(--base-size-8);

        .TextArea {
            width: 100%;
        }
    }
}