@import "./reset.css";

@import "@primer/primitives/dist/css/base/size/size.css";
@import "@primer/primitives/dist/css/base/typography/typography.css";
@import "@primer/primitives/dist/css/functional/size/border.css";
@import "@primer/primitives/dist/css/functional/size/breakpoints.css";
@import "@primer/primitives/dist/css/functional/size/size-coarse.css";
@import "@primer/primitives/dist/css/functional/size/size-fine.css";
@import "@primer/primitives/dist/css/functional/size/size.css";
@import "@primer/primitives/dist/css/functional/size/viewport.css";
@import "@primer/primitives/dist/css/functional/typography/typography.css";

@import "@primer/primitives/dist/css/functional/themes/light.css";
@import "@primer/primitives/dist/css/functional/themes/light-tritanopia.css";
@import "@primer/primitives/dist/css/functional/themes/light-high-contrast.css";
@import "@primer/primitives/dist/css/functional/themes/light-colorblind.css";
@import "@primer/primitives/dist/css/functional/themes/dark.css";
@import "@primer/primitives/dist/css/functional/themes/dark-colorblind.css";
@import "@primer/primitives/dist/css/functional/themes/dark-dimmed.css";
@import "@primer/primitives/dist/css/functional/themes/dark-high-contrast.css";
@import "@primer/primitives/dist/css/functional/themes/dark-tritanopia.css";

.root {
  background-color: var(--bgColor-default);
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.height-full {
  flex: 1;
}

.height-full > :first-child {
  height: 100%;
}
